/* * {
    border: 1px dotted black;
}
 */



#header {
    height: 80px;
    background-color: #2C3E50;

}

#jumbotron{background-color: #1ABC9C;}


/* .jumbotron {
    height: 400px;
    background-color: #1ABC9C;
    margin-top: 80px;
} */




/* #portfolio {
    height: 800px;
    padding: 30px;
} */

/* #about {
    height: 400px;
    background-color: #1ABC9C;
} */

#location {
    background-color: #3A546D;
}

/* .card {
    height: 100%;
    background-color: tomato;
} */



footer {
    background-color: #2C3E50;
    height: 200px;
}